body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    color: white;
    position: relative;
    height: 100%;

    background-image: url("../image/office.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.map {
    position: fixed;
    top: 5px;
    right: 5px;
    font-family: bebas;
    color: black;
    text-decoration: none;
    font-size: 32px;
}
