body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    color: white;
    position: relative;
    height: 100%;

    background-image: url("../image/canteen.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.i105 {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-family: bebas;
    color: black;
    text-decoration: none;
    font-size: 32px;
}

.map {
    position: fixed;
    top: 5px;
    right: 5px;
    font-family: bebas;
    color: black;
    text-decoration: none;
    font-size: 32px;
}

.message {
    width: 200px;
    font-family: bebas;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.postit {
    height: 20px;
    position: absolute;
}

.fenetre_alert1 {
    width: 180px;
    height: 180px;
    background-image: url("../image/letter.png");
    font-weight: bold;
    visibility: hidden; /*partie importante: cacher la div et son contenu*/
    z-index: 9999; /*partie importante: à l'affichage, la div sera au-dessus de tout le reste*/
    position: absolute; /*à titre d'exemple également*/
    top: 100px;
}

.fenetre_alert1 p{
    font-family: bebas;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 120px;

}

#postit1 {
    margin-left: 100px;
    margin-top: 350px;
}
